[Desktop Entry]
Version=1.0
Name=Ayatana Webmail (service)
Name[bg]=Ayatana Webmail (услуга)
Name[ca]=
Name[cs]=Ayatana Webmail (služba)
Name[de]=
Name[el]=
Name[en_AU]=Ayatana Webmail (service)
Name[en_CA]=Ayatana Webmail (service)
Name[en_GB]=Ayatana Webmail (service)
Name[es]=Ayatana Webmail (servicio)
Name[fi]=
Name[fr]=
Name[gl]=Ayatana Webmail (servizo)
Name[hr]=Ayatana Webmail (service)
Name[hu]=Ayatana Webmail (szolgáltatás)
Name[it]=Ayatana Webmail (servizio)
Name[kk]=Ayatana Webmail (қызмет)
Name[lt]=
Name[ms]=
Name[mus]=Ayatana Webmail (υπηρεσία)
Name[nl]=Ayatana Webmail (service)
Name[nn]=Ayatana Webmail
Name[oc]=
Name[pl]=
Name[pt]=
Name[pt_BR]=
Name[ru]=
Name[sk]=
Name[sl]=
Name[sr]=
Name[tr]=
Name[ug]=
Name[uk]=
Name[zh_CN]=
Comment=Display notifications about new mail
Comment[bg]=Покажи известия при ново писмо
Comment[ca]=Mostra notifications quan hi hagi correu nou
Comment[cs]=Zobrazovat upozornění o novém emailu
Comment[de]=Benachrichtigungen bei neuen E-Mails anzeigen
Comment[el]=Εμφάνιση ειδοποιήσεων για νέα μηνύματα
Comment[en_AU]=Display notifications about new mail
Comment[en_CA]=Display notifications about new mail
Comment[en_GB]=Display notifications about new mail
Comment[es]=Mostrar notificaciones de correo nuevo
Comment[fi]=Näytä ilmoitus uusista sähköpostiviesteistä
Comment[fr]=Afficher les alertes de nouveaux courriels
Comment[gl]=Mostra notificacións de novas mensaxes de correo-e
Comment[hr]=Prikaz obavijesti o pristigloj pošti
Comment[hu]=Értesítések megjelenítése új levelekről
Comment[it]=Mostra le notifiche per le nuove email
Comment[ja]=新着メールの通知を表示
Comment[kk]=Жаңа хаттар келгені жайлы мәлімдеу
Comment[lt]=Rodyti pranešimus apie naujus laiškus
Comment[lv]=Rādīt paziņojumus par jaunām vēstulēm
Comment[ms]=Papar pemberitahuan mengenai mel baru
Comment[mus]=Εμφάνιση ειδοποιήσεων για νέο μήνυμα
Comment[nl]=Meldingen geven voor nieuwe e-mails
Comment[nn]=Vis varslingar når du får ny e-post
Comment[oc]=Afichar las alèrtas de corrièls novèls
Comment[pl]=Wyświetla powiadomienia o nowych wiadomościach
Comment[pt]=Mostrar notificações sobre novos mails
Comment[pt_BR]=Mostrar notificações sobre novos e-mails
Comment[ru]=Отображать уведомления о новой почте
Comment[sk]=Zobraziť notifikácie o novej pošte
Comment[sl]=Prikaži obvestila o novi pošti
Comment[sr]=Приказује обавештења о новој пошти
Comment[tr]=Yeni mektuplar için bildirimleri göster
Comment[ug]=يېڭى تور مەكتۇپلارنى كۆرسېتش
Comment[uk]=Показувати повідомлення про новий лист
Comment[zh_CN]=显示新邮件通知
Icon=ayatanawebmail
Exec=ayatana-webmail
Type=Application
Categories=Email;Network;

