[Desktop Entry]
Version=1.0
Name=Ayatana Webmail
Name[bg]=Известяване за поща
Name[ca]=Correu de l'Ayatana
Name[cs]=Ayatana Webmail
Name[de]=Ayatana-Webmail
Name[el]=Ηλεκτρονικό ταχυδρομείο Ayatana
Name[en_AU]=Ayatana Webmail
Name[en_CA]=Ayatana Webmail
Name[en_GB]=Ayatana Webmail
Name[es]=Ayatana Webmail
Name[fi]=Ayatana-sähköposti
Name[fr]=Courriel Ayatana
Name[gl]=Correo de Ayatana
Name[hr]=Ayatana Webmail
Name[hu]=Ayatana Webmail
Name[it]=Ayatana Webmail
Name[kk]=Ayatana Webmail
Name[lt]=Ayatana paštas
Name[lv]=Ayatana Pasts
Name[ms]=Mel Ayatana
Name[mus]=Ayatana Webmail
Name[nl]=Ayatana Webmail
Name[nn]=Ayatana Webmail
Name[oc]=Corrièl Ayatana
Name[pl]=Poczta Ayatana
Name[pt]=Ayatana Webmail
Name[pt_BR]=Ayatana Webmail
Name[ru]=Ayatana Webmail
Name[sk]=Ayatana Webmail
Name[sl]=Pošta Ayatana
Name[sr]=
Name[tr]=Ayatana Webmail
Name[ug]=Ayatana Webmail
Name[uk]=Ayatana Webmail
Name[zh_CN]=
Comment=Webmail notifications and actions for any desktop
Comment[bg]=
Comment[ca]=
Comment[cs]=
Comment[de]=
Comment[el]=
Comment[es]=
Comment[fi]=
Comment[fr]=
Comment[gl]=
Comment[hr]=
Comment[hu]=
Comment[it]=
Comment[ms]=
Comment[mus]=
Comment[nl]=
Comment[nn]=
Comment[pl]=
Comment[pt]=
Comment[pt_BR]=
Comment[ru]=
Comment[sl]=
Comment[tr]=
Comment[uk]=
Comment[zh_CN]=
Icon=ayatanawebmail
Exec=ayatana-webmail-url Home
Type=Application
Categories=Email;Network;
Actions=Clear;Compose;Sent;Change;Inbox;
X-GNOME-UsesNotifications=true
NoDisplay=true
Comment[en_GB]=Webmail notifications and actions for any desktop

[Desktop Action Clear]
Name=Mark all as read
Name[bg]=Отбележи всички като прочетени
Name[ca]=Marca-ho tot com a llegit
Name[cs]=Označit vše jako přečtené
Name[cy]=Marcio'r cyfan wedi darllen
Name[de]=Alle als gelesen markieren
Name[el]=Σημείωση όλων ως αναγνωσμένων
Name[en_AU]=Mark all as read
Name[en_CA]=Mark all as read
Name[en_GB]=Mark all as read
Name[es]=Marcar todo como leído
Name[fi]=Merkitse kaikki luetuiksi
Name[fr]=Tout marquer comme lu
Name[gl]=Marcar todo como lido
Name[hr]=Označi sve kao pročitano
Name[hu]=Az összes megjelölése olvasottként
Name[it]=Segna tutto come letto
Name[kk]=Барлығын оқылған етіп белгілеу
Name[lv]=Atzīmēt visas kā lasītas
Name[ms]=Tanda semua sebagai dibaca
Name[nl]=Alles als gelezen markeren
Name[nn]=Merk alle som lesne
Name[oc]=Marcar tot coma legit
Name[pl]=Oznacz wszystkie jako przeczytane
Name[pt]=Marcar tudo como lido
Name[pt_BR]=Marcar todos como lidos
Name[ru]=Отметить все как прочитанные
Name[sk]=Označiť všetko ako prečítané
Name[sl]=Označi vse kot prebrano
Name[sr]=Означи све као прочитано
Name[tr]=Tümünü okunmuş olarak işaretle
Name[ug]=ھەممىسىگە ئوقۇلدى بەلگىسى قوي
Name[uk]=Позначити всі як прочитані
Name[zh_CN]=全部标记为已读
Exec=ayatana-webmail-clear
NotShowIn=Messaging Menu;

[Desktop Action Compose]
Name=Compose Mail
Name[bg]=Напиши писмо
Name[ca]=Redacta un missatge
Name[cs]=Napsat email
Name[de]=Verfassen
Name[el]=Σύνθεση ηλεκτρονικού μηνύματος
Name[en_AU]=Compose Mail
Name[en_CA]=Compose Mail
Name[en_GB]=Compose Mail
Name[es]=Redactar mensaje
Name[et]=Koosta kiri
Name[fi]=Lähetä sähköpostiviesti
Name[fr]=Nouveau message
Name[gl]=Crear unha nova mensaxe de correo-e
Name[hr]=Nova poruka
Name[hu]=Levélírás
Name[it]=Componi nuovo messaggio
Name[kk]=Хат жазу
Name[lt]=Rašyti laišką
Name[lv]=Sastādīt vēstuli
Name[ms]=Gubah Mel
Name[mus]=Συνθέστε μήνυμα
Name[nl]=Stel een e-mail op
Name[nn]=Skriv ny
Name[oc]=Messatge novèl
Name[pl]=Utwórz wiadomość
Name[pt]=Compor Mensagem
Name[pt_BR]=Redigir email
Name[ru]=Написать письмо
Name[sk]=Napísať správu
Name[sl]=Sestavi pošto
Name[sr]=Саставите поруку
Name[tr]=Mektup Yaz
Name[ug]=Compose Mail
Name[uk]=Написати листа
Name[zh_CN]=撰写邮件
Exec=ayatana-webmail-url Compose
NotShowIn=Messaging Menu;

[Desktop Action Sent]
Name=Sent
Name[bg]=Изпратени
Name[ca]=Enviat
Name[cs]=Odeslané
Name[de]=Gesendet
Name[el]=Απεσταλμένα
Name[en_AU]=Sent
Name[en_CA]=Sent
Name[en_GB]=Sent
Name[es]=Enviados
Name[et]=Saadetud
Name[fi]=Lähetetyt
Name[fr]=Messages envoyés
Name[gl]=Enviado
Name[hr]=Poslano
Name[hu]=Elküldött levelek
Name[it]=Inviata
Name[kk]=Жіберілген
Name[lt]=Išsiųsti laiškai
Name[lv]=Nosūtītās
Name[ms]=Dihantar
Name[mus]=Σταλθέντα
Name[nl]=Verzonden
Name[nn]=Sendt e-post
Name[oc]=Mandats
Name[pl]=Wysłane
Name[pt]=Enviado
Name[pt_BR]=Enviadas
Name[ru]=Отправленные
Name[sk]=Odoslané správy
Name[sl]=Poslano
Name[sr]=Послато
Name[tr]=Gönderilenler
Name[ug]=ئەۋەتكەنلىرى
Name[uk]=Надіслані
Name[zh_CN]=已发邮件
Exec=ayatana-webmail-url Sent
NotShowIn=Messaging Menu;

[Desktop Action Change]
Name=Settings
Name[bg]=Промяна на детайлите на акаунта
Name[ca]=Canvia els detalls del compte
Name[cs]=Změnit detaily o účtu
Name[de]=Einstellungen
Name[el]=Αλλαγή στοιχείων λογαριασμών
Name[es]=Cambiar detalles de cuenta
Name[et]=Muuda kontode andmeid
Name[fi]=Muuta tilin tietoja
Name[fr]=Modifier les paramètres de comptes
Name[gl]=Modificar os detalles das contas
Name[hr]=Promjena detalja računa
Name[hu]=Beállítások
Name[it]=Modifica i dettagli dell'account
Name[kk]=Тіркеме мәліметттерін өзгерту
Name[lt]=Keisti paskyros duomenis
Name[lv]=Mainīt konta uzstādījumus
Name[ms]=Ubah perincian akaun
Name[mus]=Αλλάξτε τις λεπτομέρειες του λογαριασμού σας
Name[nl]=Verander accountgegevens
Name[nn]=Endre innstillingar
Name[oc]=Modificar los paramètres de comptes
Name[pl]=Zmień ustawienia konta
Name[pt]=Modificar detalhes das contas
Name[pt_BR]=Alterar detalhes da conta
Name[ru]=Изменить данные учётных записей
Name[sk]=Nastaviť účty
Name[sl]=Nastavitve
Name[sr]=Измените детаље налога
Name[tr]=Hesap detaylarını değiştir
Name[uk]=Налаштування
Name[zh_CN]=更改帐号详情
Exec=ayatana-webmail-settings
Name[en_GB]=Settings

[Desktop Action Inbox]
Name=Inbox
Name[bg]=Входящи
Name[ca]=Safata d'entrada
Name[cs]=Příchozí
Name[de]=Posteingang
Name[el]=Εισερχόμενα
Name[en_AU]=Inbox
Name[en_CA]=Inbox
Name[en_GB]=Inbox
Name[es]=Bandeja de entrada
Name[et]=Postkast
Name[fi]=Saapuneet
Name[fr]=Boîte de réception
Name[gl]=Caixa de entrada
Name[hr]=Pristigla pošta
Name[hu]=Beérkező levelek
Name[it]=In arrivo
Name[kk]=Кіріс
Name[lt]=Gautieji
Name[lv]=Iesūtne
Name[ms]=Kotak Masuk
Name[mus]=Εισερχόμενα
Name[nl]=Postvak IN
Name[nn]=Innboks
Name[oc]=Bóstia de recepcion
Name[pl]=Odebrane
Name[pt]=Caixa de entrada
Name[pt_BR]=Caixa de entrada
Name[ru]=Входящие
Name[sk]=Doručená pošta
Name[sl]=Prejeto
Name[sr]=Пријемно сандуче
Name[tr]=Gelenler
Name[ug]=خەتدان
Name[uk]=Вхідні
Name[zh_CN]=收件箱
Exec=ayatana-webmail-url Inbox
NotShowIn=Messaging Menu;

