[Desktop Entry]
Version=1.0
Name=Ayatana Webmail
Comment=Webmail notifications and actions for any desktop
Icon=ayatanawebmail
Exec=ayatana-webmail-url Home
Type=Application
Categories=Email;Network;
Actions=Clear;Compose;Sent;Change;Inbox;
X-GNOME-UsesNotifications=true
NoDisplay=true

[Desktop Action Clear]
Name=Mark all as read
Exec=ayatana-webmail-clear
NotShowIn=Messaging Menu;

[Desktop Action Compose]
Name=Compose Mail
Exec=ayatana-webmail-url Compose
NotShowIn=Messaging Menu;

[Desktop Action Sent]
Name=Sent
Exec=ayatana-webmail-url Sent
NotShowIn=Messaging Menu;

[Desktop Action Inbox]
Name=Inbox
Exec=ayatana-webmail-url Inbox
NotShowIn=Messaging Menu;

[Desktop Action Change]
Name=Settings
Exec=ayatana-webmail-settings
