#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

%:
		dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_clean:
	dh_auto_clean
	rm -Rfv data/usr/share/locale
	rm -fv ayatana-webmail.egg-info/PKG-INFO
	rm -fv ayatana-webmail.egg-info/SOURCES.txt
	rm -fv ayatana-webmail.egg-info/dependency_links.txt
	rm -fv ayatana-webmail.egg-info/requires.txt
	rm -fv ayatana-webmail.egg-info/top_level.txt
